{# @var \Setono\SyliusAbandonedCartPlugin\Model\NotificationInterface notification #}
{% extends '@SyliusShop/Email/layout.html.twig' %}

{% block subject %}{{ 'setono_sylius_abandoned_cart.emails.notification.subject'|trans }}{% endblock %}

{% block content %}
    {{ 'setono_sylius_abandoned_cart.emails.notification.intro'|trans({ '%customer%': notification.recipientFirstName })|raw }}

    <div style="text-align: center; margin-bottom: 30px;">
        <a href="{{ urls.cartRecovery }}" style="display: inline-block; text-align: center; background: #1abb9c; padding: 18px 28px; color: #fff; text-decoration: none; border-radius: 3px;">
            {{ 'setono_sylius_abandoned_cart.emails.notification.continue_shopping'|trans({}, null, localeCode) }}
        </a>
    </div>

    <div style="text-align: center; margin-bottom: 30px;">
        <a href="{{ urls.unsubscribe }}">
            {{ 'setono_sylius_abandoned_cart.emails.notification.unsubscribe'|trans({}, null, localeCode) }}
        </a>
    </div>
{% endblock %}
